body{
    width: 250px;
    height: 200px;
    background-color: blue;
}
p{
    font-size: 25px;
    font-family: fantasy;
    color: white;
}
span{
    font-size: 16px;
    font-family: cursive;
    color: yellow;
}